:host {
  display: grid;
  background: #315E9A;

  .content {
    border-radius: 2rem 2rem 0 0;
    padding: 5rem 1rem;
    background: white;

    display: grid;
    gap: 1rem;
    justify-content: center;

    .question {
      padding: 1rem;
      text-align: center;
    }

    .answers {
      display: grid;
      gap: .1rem;

      .answer-button {
        border-radius: 10px;
        padding: 10px 25px;
        background: #E6E6E6;

        &:hover {
          background: #B9B9B9;
        }

        &.selected{
          background: #FFEC8C;
        }
      }
    }
  }
}
