:host {
  display: grid;
  background: #315E9A;

  .content {
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    justify-items: center;

    border-radius: 2rem 2rem 0 0;
    padding: 2rem 1rem;
    background: white;

    .question {
      padding: 0 2rem;
      width: 100%;
      text-align: center;
    }

    .answers {
      display: grid;
      gap: 1rem;
      justify-content: center;

      .answer {
        display: grid;
        justify-items: center;

        .answer-button {
          border-radius: 10px;
          padding: 1rem 1rem;
          background: #E6E6E6;
          width: 100%;

          &:hover {
            background: #B9B9B9;
          }
        }
      }
    }
  }
}
