:host {
  display: grid;
  background: #315E9A;

  .content {
    justify-items: center;
  }

  .time-and-count {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 90vw;

    p {
      margin: 0;
    }
  }

  .question {
    width: 80vw;
    text-align: center;
  }

  .answers {
    display: grid;
    gap: 1rem;
    justify-content: center;

    .answer {
      display: grid;
      justify-items: center;

      .answer-button {
        border-radius: .5rem;
        padding: 1rem;
        background: #E6E6E6;
        color: var(--color-2);
        text-align: left;
        transition: background-color 0.3s ease;

        &.selected {
          background-color: #FFEC8C;
        }
      }
    }
  }
}
