.score-page {
  text-align: center;
  margin-top: 50px;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.emoji {
  font-size: 70px;
  margin-top: 5%;
}

h1 {
  font-size: 24px;
  color: #315E9A;
}
h2 {
  font-size: 24px;
  color: #003285;
}
p {
  font-size: 24px;
  color: #315E9A;
  margin-top: 3%;
}



button {
  padding: 15px 25px;
  background-color: #003285;
  color: white;
  border: none;
  margin-top: 3%;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background-color: #003285;
}

img{
  margin-top: 2%;
  size: 5cm;
}
