<app-header [background_white]="true"></app-header>

<div class="score-page">

  <div class="emoji" *ngIf="emoji == 'happy'">
    <img src="/happy.jpg" alt="happy image">
  </div>

  <div class="emoji" *ngIf="emoji == 'sad'">
    <img src="/sad.jpg" alt="sad image">
  </div>

  <div class="emoji" *ngIf="emoji == 'surprise'">
    <img src="/suprise.jpg" alt="suprise image">
  </div>

  <h1>{{message}}</h1>

  <p>Du hast {{schaffIT_store.amount_of_correct_answers()}} von {{schaffIT_store.selected_amount_of_questions()}} Fragen in {{this.schaffIT_store.timer()}} Minuten richtig beantwortet.</p>

  <button (click)="backToQuiz()">Neues Spiel</button>
</div>
