:host {
  display: grid;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  background: white;
  min-height: 100vh;
  min-width: 100vw;
}

app-header {
  width: 98vw;
}

.score-page {
  display: grid;
  gap: .8rem;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  padding-bottom: 5rem;
  max-width: 80vw;

  .logo {
    width: 100px;
  }

  .emoji {
    font-size: 70px;
  }

  img{
    size: 5cm;
  }

  button {
    min-width: 0;
    max-width: 250px;
  }
}
