<app-header></app-header>
<div class="content">
  <div class="question">
    {{question.text}}
  </div>
  <div class="answers">
    <div class="answer" *ngFor="let answer of question.answers">
      <button [class]="answer.is_true ? 'answer-button true' : selected_answer_id == answer.id && !answer.is_true ? 'answer-button false' : 'answer-button'" [disabled]="true">
        {{answer.text}}
      </button>
    </div>
  </div>
  <div class="button">
    <button (click)="finish_question()">Weiter</button>
  </div>
</div>
