:host {
  display: grid;
  background: #315E9A;

  .content {
    border-radius: 2rem 2rem 0 0;
    padding: 5rem 1rem;
    background: white;

    display: grid;
    gap: 1rem;
    justify-content: center;

    .question {
      padding: 90vw;
      text-align: center;
    }

    .answers {
      display: grid;
      gap: .5rem;
      justify-content: center;

      .answer {
        display: grid;
        justify-items: center;

        .answer-button {
          border-radius: 10px;
          padding: 25px 25px;
          background: #E6E6E6;
          width: 90vw;

          &.true {
            background: #ADEA98;
          }
          &.false {
            background: #F86D70;
          }
          &:disabled {
            cursor: default;
          }
        }
      }
    }
  }
}
