<app-header></app-header>

<div class="content">
  <p>Was willst du heute lernen?</p>

  <div class="subjects">
    <div *ngFor="let category of categories" class="subject" (click)="set_selected_category_id(category.Id)" [class.selected]="selected_category_id === category.Id">
      <img [ngSrc]="category.PicturePath" [alt]="category.Name" width="40" height="40">
      <span>{{category.Name}}</span>
    </div>
    <div class="subject" (click)="set_selected_category_id(0)" [class.selected]="selected_category_id === 0">
      <span>Gemischt</span>
    </div>
  </div>

  <div>
    <button [disabled]="selected_category_id === null" (click)="submit()">Weiter</button>
  </div>
</div>
