:host {
  display: grid;
  background: #315E9A;

  .subjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: stretch;

    .subject {
      height: 5rem;
      background-color: #f0f0f0;
      border-radius: .5rem;
      padding: .6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.selected {
        background-color: #FFEC8C;
      }

      &img{
        margin-bottom: 10px;
      }
    }
  }
}
