/* You can add global styles to this file, and also import other style files */
body {
  min-height: 100vh;
  overflow-x: auto !important;
  margin: 0;
}

:root {
  --color-1: #003285;
  --color-2: #315E9A;
  --color-3: #FFEC8C;

  font-family: "Nunito", sans-serif;
  color: var(--color-1);

  h1 {
    font-size: 2rem;
    color: #315E9A;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 24px;
    color: #315E9A;
    margin-top: 3%;
  }

  button {
    padding: 10px 25px;
    background-color: #003285;
    color: white;
    border: none;
    //margin-top: 3%;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    margin: 3%;

    &:hover {
      background-color: rgba(0, 50, 133, 0.75);
    }
  }
}
